@import './components/color-variables';
@import './components/variables';


p {
    line-height: 2rem;
}

@media only screen and (max-width : 600px) {
    h2 {
        font-size: 3rem;
    }
}



.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 20%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 15%;
    }
}

.tab-body {
    padding: 1.5rem !important;

}

.contact-size {
    max-width: 60%;
    margin-left: 20% !important;
}



.section-testimonial {

    h4 {
        margin-bottom: -4px !important;
    }

    p {
        color: $off-black !important;
    }

}

.img-testi {
    width: 10rem !important;
    border-radius: 50% !important;
}